/* Ui Effects */
.effect { 
  float: left;
  width: 100%;
  height: 100%;
  position: relative; }

.effect:hover { cursor: pointer; }



/* Vertical Flip */
.effect-1:hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transform: perspective(1000) rotateX(180deg);
  -moz-transform: perspective(1000) rotateX(180deg);
  -ms-transform: perspective(1000) rotateX(180deg);
  -o-transform: perspective(1000) rotateX(180deg);
  transform: perspective(1000) rotateX(180deg); }

.effect-1:hover .back {
  z-index: 950;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform: perspective(1000) rotateX(0deg);
  -moz-transform: perspective(1000) rotateX(0deg);
  -ms-transform: perspective(1000) rotateX(0deg);
  -o-transform: perspective(1000) rotateX(0deg);
  transform: perspective(1000) rotateX(0deg); }

.effect-1 .front,
.effect-1 .back {
  text-align: right;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 400ms;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  transition: transform 400ms;
  display: block;
  height: 100%;
  width: 100%; 
  position: absolute; }

.effect-1 .front {
  -webkit-transform: perspective(1000) rotateX(0);
  -moz-transform: perspective(1000) rotateX(0);
  -ms-transform: perspective(1000) rotateX(0);
  -o-transform: perspective(1000) rotateX(0);
  transform: perspective(1000) rotateX(0);
  z-index: 900; }

.effect-1 .back {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  z-index: 800; }



/* Horizontal Flip */
.effect-2:hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform: perspective(1000) rotateY(180deg);
  -moz-transform: perspective(1000) rotateY(180deg);
  -ms-transform: perspective(1000) rotateY(180deg);
  -o-transform: perspective(1000) rotateY(180deg);
  transform: perspective(1000) rotateY(180deg); }

.effect-2:hover .back {
  z-index: 950;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform: perspective(1000) rotateY(0deg);
  -moz-transform: perspective(1000) rotateY(0deg);
  -ms-transform: perspective(1000) rotateY(0deg);
  -o-transform: perspective(1000) rotateY(0deg);
  transform: perspective(1000) rotateY(0deg); }

.effect-2 .front,
.effect-2 .back {
  text-align: right;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 400ms;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  transition: transform 400ms;
  display: block;
  height: 100%;
  width: 100%; 
  position: absolute; }

.effect-2 .front {
  -webkit-transform: perspective(1000) rotateY(0);
  -moz-transform: perspective(1000) rotateY(0);
  -ms-transform: perspective(1000) rotateY(0);
  -o-transform: perspective(1000) rotateY(0);
  transform: perspective(1000) rotateY(0);
  z-index: 900; }

.effect-2 .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 800; }



/* Slide Left */
.wrapper { overflow: hidden; }

.effect-3 .back, .front{
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  display: block;
  height: 100%;
  width: 100%; 
  position: absolute; }

.effect-3 .back { left: -100%; }

.effect-3:hover .back {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  left: 0; }

.effect-3:hover .front { left: 100%; }



/* Slide Right */
.wrapper { overflow: hidden; }

.effect-4 .back, .front{
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  display: block;
  height: 100%;
  width: 100%; 
  position: absolute; }

.effect-4 .back { right: -100%; }

.effect-4:hover .back {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  right: 0; }

.effect-4:hover .front { right: 100%; }



/* Slide Up */
.wrapper { overflow: hidden; }

.effect-5 .back, .front{
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  display: block;
  height: 100%;
  width: 100%; 
  position: absolute; }

.effect-5 .back { bottom: -100%; }
.alpha .effect-6 .back, .omega .effect-6 .back { bottom: -103%; }

.effect-5:hover .back {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  bottom: 0; }

.effect-5:hover .front { bottom: 100%; }




/* Slide Down */
.wrapper { overflow: hidden; }

.effect-6 .back, .front{
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  display: block;
  height: 100%;
  width: 100%; 
  position: absolute; }

.effect-6 .back { top: -100%; }

.alpha .effect-6 .back, .omega .effect-6 .back { top: -103%; }

.effect-6:hover .back {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  top: 0; }

.effect-6:hover .front { top: 100%; }


