/**
 *	Tile System Ui
 *
 */

/* Default Styles */
.tile { 
	margin: 0 10px 10px 0;
	float: left;
}

.alpha {
	margin: 0 0 10px 0;
	height: 60px;
}

.omega {
	margin: 0;
	height: 60px;
}

.effect:hover { -webkit-box-shadow:0 0 40px #c4cecb; cursor: pointer; }





/* iPhone Vertical (320px) */
.t-1 { 
width: 128px;
height: 128px;
}

.t-2 { 
	width: 266px;
	height: 128px;
}

.alpha {
	margin: 0 0 10px 0;
	height: 64px;
}

.omega {
	margin: 0;
	height: 64px;
}




/** Misc Colors **/
.blue {
	background-color: #009fb2;
	background-image: -o-linear-gradient(left , #00839a 0%, #00a1b3 100%);
	background-image: -moz-linear-gradient(left , #00839a 0%, #00a1b3 100%);
	background-image: -webkit-linear-gradient(left , #00839a 0%, #00a1b3 100%);
	background-image: -ms-linear-gradient(left , #00839a 0%, #00a1b3 100%);
	background-image: linear-gradient(left , #00839a 0%, #00a1b3 100%);

	background-image: -webkit-gradient(
	           linear,
	            left top,
	            right top,
	            color-stop(0, #00839a),
	            color-stop(1, #00a1b3)
	        );
	-webkit-box-shadow: 1px 0 1px #065363;
	-moz-box-shadow: 1px 0 1px #065363;
	-ms-box-shadow: 1px 0 1px #065363;
	-o-box-shadow: 1px 0 1px #065363;
	box-shadow: 1px 0 1px #065363; }  
.red {
	background-color: #d5582c;
	background-image: -o-linear-gradient(left , #c64a26 0%, #d5582c 100%);
	background-image: -moz-linear-gradient(left , #c64a26 0%, #d5582c 100%);
	background-image: -webkit-linear-gradient(left , #c64a26 0%, #d5582c 100%);
	background-image: -ms-linear-gradient(left , #c64a26 0%, #d5582c 100%);
	background-image: linear-gradient(left , #c64a26 0%, #d5582c 100%);

	background-image: -webkit-gradient(
	           linear,
	            left top,
	            right top,
	            color-stop(0, #c64a26),
	            color-stop(1, #d5582c)
	        );
	-webkit-box-shadow: 1px 0 1px #b84a23;
	-moz-box-shadow: 1px 0 1px #b84a23;
	-ms-box-shadow: 1px 0 1px #b84a23;
	-o-box-shadow: 1px 0 1px #b84a23;
	box-shadow: 1px 0 1px #b84a23; }      
.green {
	background: #8BBA30;
	background-image: -o-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
	background-image: -moz-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
	background-image: -webkit-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
	background-image: -ms-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
	background-image: linear-gradient(left , #84a12d 0%, #9eb33a 100%);

	background-image: -webkit-gradient(
	       linear,
	        left top,
	        right top,
	        color-stop(0, #84a12d),
	        color-stop(1, #9eb33a)
	    );
	-webkit-box-shadow: 1px 0 1px #8ca731;
	-moz-box-shadow: 1px 0 1px #8ca731;
	-ms-box-shadow: 1px 0 1px #8ca731;
	-o-box-shadow: 1px 0 1px #8ca731;
	box-shadow: 1px 0 1px #8ca731; }
.royal-blue {
	background:#385E82;
	background-image: -o-linear-gradient(left , #29527b 0%, #014e93 100%);
	background-image: -moz-linear-gradient(left , #29527b 0%, #014e93 100%);
	background-image: -webkit-linear-gradient(left , #29527b 0%, #014e93 100%);
	background-image: -ms-linear-gradient(left , #29527b 0%, #014e93 100%);
	background-image: linear-gradient(left , #29527b 0%, #014e93 100%);

	background-image: -webkit-gradient(
	           linear,
	            left top,
	            right top,
	            color-stop(0, #29527b),
	            color-stop(1, #014e93)
	        );
	-webkit-box-shadow: 1px 0 1px #004884;
	-moz-box-shadow: 1px 0 1px #004884;
	-ms-box-shadow: 1px 0 1px #004884;
	-o-box-shadow: 1px 0 1px #004884;
	box-shadow: 1px 0 1px #004884; }  
.orange {
	background:#F2854C;

	background-image: -o-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
	background-image: -moz-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
	background-image: -webkit-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
	background-image: -ms-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
	background-image: linear-gradient(left , #dc7c26 0%, #e4a11e 100%);

	background-image: -webkit-gradient(
	           linear,
	            left top,
	            right top,
	            color-stop(0, #dc7c26),
	            color-stop(1, #e4a11e)
	        );
	-webkit-box-shadow: 1px 0 1px #dc7c26;
	-moz-box-shadow: 1px 0 1px #dc7c26;
	-ms-box-shadow: 1px 0 1px #dc7c26;
	-o-box-shadow: 1px 0 1px #dc7c26;
	box-shadow: 1px 0 1px #dc7c26; }    