/**
 *	Tile System Ui
 *
 */

/* Default Styles */
.tile { 
	margin: 0 10px 10px 0;
	float: left;
}

.tile img { width: 100%; }

.alpha {
	margin: 0 0 10px 0;
	height: 60px;
}

.omega {
	margin: 0;
	height: 60px;
}

.effect:hover { -webkit-box-shadow:0 0 40px #dedad8; cursor: pointer; }



/*===================================================================*/
/* Mobile Styles */
/*===================================================================*/
@media (max-width: 767px) {
	.tile {
		float: none;
		margin: 0 auto 10px auto;
	}
}


/*===================================================================*/
/* iPhone Vertical Scaling Container */
/*===================================================================*/
/* 1 col (320px Window Width) 290px Container */
@media (max-width: 479px) { 
	.t-1 { 
		width: 280px;
		height: 280px;
	}

	.t-2 { 
		width: 570px;
		height: 280px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 135px;
	}

	.omega {
		margin: 0;
		height: 135px;
	}
}



/*===================================================================*/
/* iPhone4 Horizontal Scaling Container */ 
/*===================================================================*/
/* 1 col */
@media (min-width: 480px) and (max-width: 567px) { 
	.t-1 { 
		width: 320px;
		height: 320px;
	}

	.t-2 { 
		width: 650px;
		height: 320px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 155px;
	}

	.omega {
		margin: 0;
		height: 155px;
	}
}




/*===================================================================*/
/* iPhone5 Horizontal Scaling Container */
/*===================================================================*/
/* 1 col */
@media (min-width: 568px) and (max-width: 767px) {
	.t-1 { 
		width: 390px;
		height: 390px;
	}

	.t-2 { 
		width: 790px;
		height: 390px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 190px;
	}

	.omega {
		margin: 0;
		height: 190px;
	}	
}




/*===================================================================*/
/* Small devices (tablets) 720px Container */
/*===================================================================*/
/* Large (2 cols) */
/*@media (min-width: 768px) and (max-width: 991px) {
	.t-1 { 
		width: 350px;
		height: 350px;
	}

	.t-2 { 
		width: 710px;
		height: 350px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 170px;
	}

	.omega {
		margin: 0;
		height: 170px;
	}	
}*/

/* Medium (3 cols) */
@media (min-width: 768px) and (max-width: 991px) {
	.t-1 { 
		width: 230px;
		height: 230px;
	}

	.t-2 { 
		width: 470px;
		height: 230px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 110px;
	}

	.omega {
		margin: 0;
		height: 110px;
	}	
}

/* Small (4 cols) */
/*@media (min-width: 768px) and (max-width: 991px) {
	.t-1 { 
		width: 170px;
		height: 170px;
	}

	.t-2 { 
		width: 350px;
		height: 170px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 80px;
	}

	.omega {
		margin: 0;
		height: 80px;
	}	
}*/

/*===================================================================*/
/* Medium devices (desktops) 940px Container */
/*===================================================================*/
/* Large (3 cols) */
@media (min-width: 992px) and (max-width: 1199px) {
	.t-1 { 
		width: 303px;
		height: 303px;
	}

	.t-2 { 
		width: 616px;
		height: 303px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 147px;
	}

	.omega {
		margin: 0;
		height: 145px;
	}	
}

/* Medium (4 cols) */
/*@media (min-width: 992px) and (max-width: 1199px) {
	.t-1 { 
		width: 225px;
		height: 225px;
	}

	.t-2 { 
		width: 460px;
		height: 225px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 108px;
	}

	.omega {
		margin: 0;
		height: 106px;
	}	
}*/

/* Small (5 cols) */
/*@media (min-width: 992px) and (max-width: 1199px) {
	.t-1 { 
		width: 178px;
		height: 178px;
	}

	.t-2 { 
		width: 366px;
		height: 178px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 84px;
	}

	.omega {
		margin: 0;
		height: 84px;
	}
}*/

/* Extra Small (6 cols) */
/*@media (min-width: 992px) and (max-width: 1199px) {
	.t-1 { 
		width: 146px;
		height: 146px;
	}

	.t-2 { 
		width: 302px;
		height: 146px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 68px;
	}

	.omega {
		margin: 0;
		height: 68px;
	}
}*/


/*===================================================================*/
/* Large devices (large desktops) 1140px Container */
/*===================================================================*/
/* Large (3 cols) */
@media (min-width: 1200px) {
	.t-1 { 
		width: 370px;
		height: 370px;
	}

	.t-2 { 
		width: 750px;
		height: 370px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 180px;
	}

	.omega {
		margin: 0;
		height: 180px;
	}
}

/* Medium (4 cols) */
/*@media (min-width: 1200px) {
	.t-1 { 
		width: 275px;
		height: 275px;
	}

	.t-2 { 
		width: 560px;
		height: 275px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 133px;
	}

	.omega {
		margin: 0;
		height: 131px;
	}
}*/

/* Small (6 cols) */
/*@media (min-width: 1200px) {
	.t-1 { 
		width: 180px;
		height: 180px;
	}

	.t-2 { 
		width: 370px;
		height: 180px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 85px;
	}

	.omega {
		margin: 0;
		height: 85px;
	}
}*/

/* Extra Small (8 cols) */
/*@media (min-width: 1200px) {
	.t-1 { 
		width: 132px;
		height: 132px;
	}

	.t-2 { 
		width: 274px;
		height: 132px;
	}

	.alpha {
		margin: 0 0 10px 0;
		height: 61px;
	}

	.omega {
		margin: 0;
		height: 61px;
	}
}*/





/*===================================================================*/
/* Hover Effects */
/*===================================================================*/






